body, html {
  margin: 0;
  padding: 0;
}

@keyframes revealTopToBottom {
  0% {
    clip-path: inset(0 0 100% 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes revealRightToLeft {
  0% {
    clip-path: inset(0 0 0 100%);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.top-to-bottom-animation {
  animation: revealTopToBottom 1s ease-out forwards;
  animation-delay: 0.3s;
}


.right-to-left-animation {
  animation: revealRightToLeft 1s ease-out forwards;
  animation-delay: 0.3s;
}

.language-switch {
  opacity: 0;
  animation: fadeInUp 2.5s ease forwards;
  animation-delay: 0.6s;
}

.menu-controls{
  opacity: 0;
  animation: fadeInUp 2.5s ease forwards;
  animation-delay: 0.6s;
}

.portfolio-page-heading, .portfolio-page-text{
  opacity: 0;
  animation: fadeInUp 2.5s ease forwards;
  animation-delay: 0.6s;
}

.para {
  opacity: 0; /* Исходный серый цвет */
  transition: opacity 0.5s ease; /* Плавный переход цвета в течение 0.3 секунды */
}

.para.visible {
  opacity: 1;
}

/* ................................................................. */

.button-up{
  position: fixed;
  width: 4vw;
  top: 1vw;
  right: 1.5vw;
  cursor: pointer;
  z-index: 1030;
}

.button-up-hide{
  display: none;
}

.hero {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 1s ease;
  pointer-events: none;
}

.hero.fade-out {
  opacity: 0;
  pointer-events: none;
}

.hero-content img {
  width: 20vw;
  height: auto;
}

.content {
  opacity: 1;
  transition: opacity 1s ease;
  display: flex;
  background-color: #fff;
  height: 100%;
}

.left-side,
.right-side {
  flex: 1;
}

.left-side {
  padding: 2vw;
  box-sizing: border-box;
}

.right-side {
  position: relative;
}

.right-side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.language-switch {
  background: #00000033;
  position: absolute;
  bottom: 8%;
  right: 11%;
  display: flex;
  cursor: pointer;
  padding: 0.2vi 0.8vi;
  border-radius: 100px;
  backdrop-filter: blur(2px);
}

.language-switch div {
  color: #F6F4F4;
  margin: 0.5vw;
  font-family: "Gothic A1", sans-serif;
  font-size: 1.5vw;
  font-weight: 500;
  line-height: 2vw;
  text-align: left;
  border-bottom: 2px solid transparent;
}

.language-switch .active {
  border-color: #F6F4F4;
}

.left-side {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  display: flex;
  flex-direction: column;
}

.text-content {
  padding: 0 0 2.5vw 2.5vw;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-content img {
  padding-top: 15%;
  width: auto;
  max-height: 15vw;
  object-fit: cover;
}

.left-side-content {
  text-align: left;
}

.interior-text {
  font-family: "Ubuntu", sans-serif;
  font-size: 3vw;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
  width: 39vw;
  margin-bottom: 0.5vw;
}

.interior-description {
  font-family: "Gothic A1", sans-serif;
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 1.5vw;
  width: 40vw;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 0.5vw; 
  margin-bottom: 3vw;
}

.calculate-btn {
  width: 45%;
  font-family: "Gothic A1", sans-serif;
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 1.5vw;
  letter-spacing: 0em;
  padding: 1vw 2vw;
  background-color: #0B0A09;
  color: white;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.calculate-btn:hover {
  background-color: #3c3c3c;
}

.about-us{
  padding: 3vw 4vw;
  display: grid;
  place-items: center; 
  text-align: center;
  background-color: #E7E3E3;
}

.about-us-text{
  font-family: "Gothic A1", sans-serif;
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 2vw;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 0.7vw;
}

.we-started-text {
  font-family: "Ubuntu", sans-serif;
  font-size: 2vw;
  font-weight: 500;
  line-height: 2.5vw;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 0.7vw;
  margin-bottom: 3vw;
}

.about-us-heading { grid-area: about; }
.about-us-text-container { grid-area: first; }
.about-us-text-container-scnd { grid-area: main; }
.about-image-section { grid-area: right; }

.grid-container {
  display: grid;
  grid-template-areas:
    'about about about about right'
    'first first main main right'
    'first first main main right';
  padding: 1vw;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #F6F4F4;
  padding-bottom: 5vw;
}

.grid-container > div {
  gap: 10px;
}

.about-us-heading{
  font-family: "Ubuntu", sans-serif;
  font-size: 3vw;
  font-weight: 400;
  line-height: 2vw;
  letter-spacing: 0em;
  padding-left: 3vw;
  padding-top: 5vw;
}

.about-us-text-container,
.about-us-text-container-scnd {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
}

.about-us-text-container div,
.about-us-text-container-scnd div {
  display: flex;
  align-items: center;
  text-align: left;
  padding-left: 3vw;
  
}

.about-us-text-container-scnd div{
  margin-bottom: 6.5vw;
  padding-right: 5vw;
}

.large-digit-in-about-section{
  font-family: "Ubuntu", sans-serif;
  font-size: 7vw;
  font-weight: 400;
  white-space: normal;
  letter-spacing: 0em;
}

.grid-container div p{
  font-family: "Gothic A1", sans-serif;
  font-size: 1.3vw;
  font-weight: 400;
  line-height: 1.5vw;
  letter-spacing: 0em;
  padding-left: 1vw;
}

.about-image-section{
  padding-left: 2vw;
}

.about-image-section img{
  margin-top: 5vw;
  width: 26vw;
  height: 36vw;
}

.cover-all-questions {
  font-family: "Ubuntu", sans-serif;
  font-size: 2vw;
  font-weight: 400;
  white-space: normal;
}

.portfolio-section{
  padding-top: 1vw;
  padding-left: 4vw;
  padding-bottom: 4vw;
  background-color: #E7E3E3;
}

.portfolio-heading{
  font-family: "Ubuntu", sans-serif;
  font-size: 2vw;
  font-weight: 400;
  line-height: 3vw;
  letter-spacing: 0em;
  text-align: left;
}

.rolling-gallery {
  overflow: hidden;
}

.house-image1 {
  position: relative;
  z-index: 1;
}

.house-image2 {
  position: relative;
  z-index: 3;
}

.rolling-gallery-txt-1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 10vw;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  z-index: 2;
  transition:transform 1s ease-in-out;
  transform: translate(60%, 0%);
  animation: moveAnimation2 6s ease-in-out 2s infinite alternate; 
}

@keyframes moveAnimation2 {
  to {
    transform: translate(-1%, 0);
  }
}

.rolling-gallery-txt-1.hide {
  transition: transform 5s ease-in-out;
}

.rolling-gallery-txt-2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 10vw;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  z-index: 2;
  opacity: 1;
  transition:transform 1s ease-in-out;
  transform: translate(10%, 0%);
  animation: moveAnimation 6s ease-in-out 2s infinite alternate; 
}

@keyframes moveAnimation {
  to {
    transform: translate(90%, 0);
  }
}

.rolling-gallery-txt-2.hide {
  opacity: 1;
  transition: transform 5s ease-in-out;
}

.portfolio-section-image-container img{
  width: 36vw;
  height: auto;
}

.text-overlay {
  position: absolute;
  top: 85%;
  left: 14%;
  transform: translate(-50%, -50%);
  color: #F6F4F4;
  z-index: 5;
}

.text-overlay p {
  font-family: "Gothic A1", sans-serif;
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 2vw;
  letter-spacing: 0em;
  text-align: left;
}


.apartment-details,
.villa-details,
.commercial-details{
  position: relative;
  display: flex;
  justify-content: space-between;
}

.portfolio-section-image-container {
  padding-right: 4vw;
  position: relative;
  display: inline-block;
}

.button-container {
  display: flex;
  align-items: center; 
  justify-content: flex-end;
  margin-right: 4vw;
  text-decoration: none;
}

.button-image-portfolio{
  width: 4vw;
}

.watch-all-text{
  padding: 1vw;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.6vw;
  font-weight: 400;
  line-height: 2vw;
  letter-spacing: 0em;
  text-align: left;
  color: black;
}

.services-section{
  padding: 2vw 4vw 5vw;
  background-color: #F6F4F4;
}

.services-header {
  padding-top: 2vw;
  padding-bottom: 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services-header p {
  font-family: "Ubuntu", sans-serif;
  font-size: 2vw;
  font-weight: 400;
  line-height: 2vw;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}

.selection-section {
  padding-top: 1vw;
  padding-left: 4vw;
  padding-bottom: 5vw;
  background-color: #E7E3E3;
}

.selection-head {
  font-family: "Ubuntu", sans-serif;
  font-size: 2vw;
  font-weight: 400;
  line-height: 3vw;
  letter-spacing: 0em;
  text-align: left;
}

.selection-image {
  position: relative;
}

.furnuture-selection-image{
  width: 30vw;
  height: auto;
}

.furnuture-selection-scnd{
  width: 30vw;
  height: auto;
}

.selection-image p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 1.5vw;
  position: absolute;
  width: 23vw;
  top: 21%;
  left: 72%;
  text-align: left;
}

.selection-container {
  display: flex;
}

.selection-text-after-image {
  font-family: "Gothic A1", sans-serif;
  font-size: 1.2vw;
  font-weight: 400;
  line-height: 2vw;
  letter-spacing: 0em;
  text-align: left;
  width: 25vw;
  padding-left: 2vw;
  align-self: flex-end; 
}

.selection-right {
  overflow: hidden;
  margin-left: auto; 
  padding-left: 5vw;
}

.selection-right p {
  font-family: "Gothic A1", sans-serif;
  font-size: 1.2vw;
  font-weight: 400;
  line-height: 1.5vw;
  text-align: left;
  width: 25vw;
}

.selection-suppliers {
  position: relative;
  overflow: hidden;
}

.button-supp {
  position: absolute;
  background: #00000033;
  padding: 1vw;
  width: 2vw;
  height: 2vw;
  border-radius: 100%;
  bottom: 2.5vw; 
  right: 4vw;
  cursor: pointer;
}

.contacts-section{
  padding: 2vw 4vw;
  background-color: #F6F4F4;
  padding-bottom: 15vw;
}

.contacts-head{
  font-family: "Ubuntu", sans-serif;
  font-size: 2vw;
  font-weight: 400;
  line-height: 3vw;
  letter-spacing: 0em;
  text-align: left;
}

.studio-toggle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  margin-left: auto; 
}

.logo-contacts {
  width: 5vw;
}

.studio-toggle {
  display: flex;
  margin-bottom: 1vw;
}

.studio-toggle button {
  padding: 0.3vw 0.4vw;
  margin-right: 1.5vw;
  cursor: pointer;
  border: none;
  background-color: transparent;
  text-decoration: none;
  font-family: "Gothic A1", sans-serif;
  font-size: 1.3vw;
  font-weight: 400;
  letter-spacing: 0em;
}

.studio-toggle button.active {
  border-bottom: 2px solid black; 
}

.contacts-budva,
.contacts-moscow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Gothic A1", sans-serif;
  font-size: 1.3vw;
  font-weight: 400;
  letter-spacing: 0em;
}

.first-string,
.second-string {
  display: flex;
  flex-direction: row;
}

.first-string div,
.second-string div {
  display: flex;
  align-items: center;
  margin-right: 1vw; 
}

.img-contacts-svg{
  width: 1vw;
  padding: 0.5vw;
}

.map-container {
  width: 100%; 
  height: 10vw;
}


.map-container iframe {
  width: 100%; 
  height: 10vw;
}

.contacts-container-button-and-links{
  padding: 1vw;
}

.button-container-contacts {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 23vw;
}

.button-image-contacts{
  width: 4vw;
}

.button-container-contacts-text{
  font-family: "Ubuntu", sans-serif;
  padding: 1vw;
  font-size: 1.6vw;
  font-weight: 400;
  line-height: 2vw;
  letter-spacing: 0em;
  text-align: left;
  color: black;
}

.contacts-container-links {
  position: absolute;
  width: 93vw;
  right: 3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts-a-links > a{
  text-decoration: none;
  padding: 1.3vw;
  font-family: "Gothic A1", sans-serif;
  font-size: 1.3vw;
  font-weight: 400;
  color: #0B0A09;
}

.contacts-a-links > a:hover{
  text-decoration: none;
  padding: 1vw;
  font-family: "Gothic A1", sans-serif;
  font-size: 1.3vw;
  font-weight: 400;
  color: #828282;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1002;
}

.popup-content {
  background:#F6F4F4;
  padding-top: 2vw;
  padding-left: 2vw;
  padding-bottom: 8vw;
  position: relative; 
  z-index: 1004;
}

.close-button {
  position: absolute;
  top: 1vw;
  right: 1vw;
  cursor: pointer;
}

.popup-overlay-text{
  font-family: "Ubuntu", sans-serif;
  font-size: 1.6vw;
  font-weight: 400;
  line-height: 2vw;
  letter-spacing: 0em;
  text-align: left;
  color: black;
}

.popup-mail-phone {
  display: flex;
  flex-direction: row; 
}

form > p{
  font-family: "Gothic A1", sans-serif;
  font-size: 1vw;
  font-weight: 300;
  line-height: 1vw;
  letter-spacing: 0em;
  text-align: left;
  color: #828282;
  padding-top: 1vw;
}
.popup-mail-phone > div{
  font-family: "Gothic A1", sans-serif;
  font-size: 1vw;
  font-weight: 300;
  line-height: 1vw;
  letter-spacing: 0em;
  text-align: left;
  padding-right: 2vw;
  color: #828282;
}

.input-phone,
.input-mail{
  width: 25vw;
  height: 2vw;
  padding: 0.3vw;
  padding-left: 1vw;
  background: linear-gradient(0deg, #F6F4F4, #F6F4F4),
    linear-gradient(0deg, #828282, #828282);
  border: 1px solid #828282;
}

.input-mail::placeholder,
.input-message::placeholder{
  font-family: "Gothic A1", sans-serif;
  font-size: 1vw;
  font-weight: 400;
  padding-top: 0.3vw;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #C4C4C4;
}

.input-phone:valid,
.input-mail:valid,
.input-message:valid {
  font-family: "Ubuntu", sans-serif;
  font-size: 1vw;
  font-weight: 400;
  line-height: 2vw;
  letter-spacing: 0em;
  text-align: left;
}

label {
  display: flex;
  align-items: center;
}

.label-container {
  position: relative;
}

.input-message {
  width: 52.7vw;
  padding: 1vw;
  padding-bottom: 10vw;
  background: linear-gradient(0deg, #F6F4F4, #F6F4F4),
    linear-gradient(0deg, #828282, #828282);
  border: 1px solid #828282;
  word-wrap: break-word; 
}

.char-count {
  position: absolute;
  top: 0.8vw;
  right: 3vw;
  font-size: 1vw;
  color:#828282;
  font-family: "Gothic A1", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  text-align: right;
}

input:focus {
  outline: none;
}

textarea {
  resize: none; 
  overflow: hidden; 
  outline: none;
}

.popup-content-button {
  position: absolute;
  bottom: 3vw;
  right: 2vw;
  background-color: black;
  color: white;
  padding: 0.7vw 2.5vw; 
  border: none;
  cursor: pointer;
  border-radius: 50px; 
  font-family: "Gothic A1", sans-serif;
  font-size: 1.6vw;
  font-weight: 400;
}

.popup-content-button:hover {
  background-color: #333; 
}
