body, html {
  margin: 0;
  padding: 0;
}

.hero {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 1s ease;
  pointer-events: none;
}

.hero.fade-out {
  opacity: 0;
  pointer-events: none;
}

.hero-content img {
  width: 20vw;
  height: auto;
}

.content {
  opacity: 1;
  transition: opacity 1s ease;
  display: flex;
  background-color: #fff;
  height: 100%;
}

.left-side,
.right-side {
  flex: 1;
}

.left-side {
  padding: 2vw; /* Adjust as needed */
  box-sizing: border-box;
}

.right-side {
  position: relative;
}

.right-side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.language-switch {
  background: #00000033;
  position: absolute;
  bottom: 4.5%;
  right: 5%;
  display: flex;
  cursor: pointer;
  padding: 0.5vi 1vi;
  border-radius: 100px;
  backdrop-filter: blur(2px);
}

.language-switch div {
  color: #F6F4F4;
  margin: 1vw;
  font-family: "Gothic A1", sans-serif;
  font-size: 2vw;
  font-weight: 500;
  line-height: 2vw;
  text-align: left;
  border-bottom: 2px solid transparent;
}

.language-switch .active {
  border-color: #F6F4F4;
}

.left-side {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  display: flex;
  flex-direction: column;
}

.text-content {
  padding: 0 0 2.5vw 2.5vw;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-content img {
  padding-top: 15%;
  width: auto;
  max-height: 15vw;
  object-fit: cover;
}

.left-side-content {
  text-align: left;
}

.interior-text {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5vw;
  font-weight: 500;
  line-height: 3vw;
  letter-spacing: 0em;
  text-align: left;
}

.interior-description {
  font-family: "Gothic A1", sans-serif;
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 1.5vw;
  letter-spacing: 0em;
  text-align: left;
}

.calculate-btn {
  width: 40%;
  font-family: "Gothic A1", sans-serif;
  font-size: 1vw;
  font-weight: 400;
  line-height: 1.5vw;
  letter-spacing: 0em;
  padding: 1vw 2vw;
  background-color: #0B0A09;
  color: white;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.calculate-btn:hover {
  background-color: #3c3c3c;
}

.about-us{
  padding: 3vw 4vw;
  display: grid;
  place-items: center; 
  text-align: center;
  background-color: #E7E3E3;
}

.about-us-text{
  font-family: "Gothic A1", sans-serif;
  font-size: 1.3vw;
  font-weight: 400;
  line-height: 2vw;
  letter-spacing: 0em;
  text-align: left;
}

.we-started-text {
  font-family: "Ubuntu", sans-serif;
  font-size: 2vw;
  font-weight: 500;
  line-height: 2.5vw;
  letter-spacing: 0em;
  text-align: center;
  margin: 10px; 
}

.about-us-heading { grid-area: about; }
.about-us-text-container { grid-area: first; }
.about-us-text-container-scnd { grid-area: main; }
.about-image-section { grid-area: right; }

.grid-container {
  display: grid;
  grid-template-areas:
    'about about about about right'
    'first first main main right'
    'first first main main right';
  padding: 1vw;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #F6F4F4;
  padding-bottom: 5vw;
}

.grid-container > div {
  gap: 10px;
}

.about-us-heading{
  font-family: "Ubuntu", sans-serif;
  font-size: 3vw;
  font-weight: 400;
  line-height: 2vw;
  letter-spacing: 0em;
  padding-left: 3vw;
  padding-top: 5vw;
}

.about-us-text-container,
.about-us-text-container-scnd {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
}

.about-us-text-container div,
.about-us-text-container-scnd div {
  display: flex;
  align-items: center;
  text-align: left;
  padding-left: 3vw;
  
}

.about-us-text-container-scnd div{
  margin-bottom: 6.5vw;
  padding-right: 5vw;
}

.large-digit-in-about-section{
  font-family: "Ubuntu", sans-serif;
  font-size: 7vw;
  font-weight: 400;
  white-space: normal;
  letter-spacing: 0em;
}

.grid-container div p{
  font-family: "Gothic A1", sans-serif;
  font-size: 1.3vw;
  font-weight: 400;
  line-height: 1.5vw;
  letter-spacing: 0em;
  padding-left: 1vw;
}

.about-image-section{
  padding-left: 2vw;
}

.about-image-section img{
  width: 26vw;
  height: 36vw;
}

.cover-all-questions {
  font-family: "Ubuntu", sans-serif;
  font-size: 2vw;
  font-weight: 400;
  white-space: normal;
}

.portfolio-section{
  padding-top: 1vw;
  padding-left: 4vw;
  padding-bottom: 4vw;
  background-color: #E7E3E3;
}

.portfolio-heading{
  font-family: "Ubuntu", sans-serif;
  font-size: 2vw;
  font-weight: 400;
  line-height: 3vw;
  letter-spacing: 0em;
  text-align: left;
}

.rolling-gallery {
  overflow: hidden;
}

.apartment-details,
.villa-details,
.commercial-details{
  position: relative;
  display: flex;
  justify-content: space-between;
}

.image-container {
  padding-right: 4vw;
  position: relative;
  display: inline-block;
}

.image-container img{
  width: 36vw;
  height: auto;
}

.text-overlay {
  position: absolute;
  top: 85%;
  left: 14%;
  transform: translate(-50%, -50%);
  color: #F6F4F4;
}

.text-overlay p {
  font-family: "Gothic A1", sans-serif;
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 2vw;
  letter-spacing: 0em;
  text-align: left;
}

.button-container {
  display: flex;
  align-items: center; 
  justify-content: flex-end;
  margin-right: 4vw;
  text-decoration: none;
}

.button-image-portfolio{
  width: 4vw;
}

.watch-all-text{
  padding: 1vw;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.6vw;
  font-weight: 400;
  line-height: 2vw;
  letter-spacing: 0em;
  text-align: left;
  color: black;
}


.services-section{
  padding: 1vw 4vw;
  background-color: #F6F4F4;
}
.services-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.services-header p {
  font-family: "Ubuntu", sans-serif;
  font-size: 2vw;
  font-weight: 400;
  line-height: 2vw;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}

.selection-section {
  padding-top: 1vw;
  padding-left: 4vw;
  padding-bottom: 5vw;
  background-color: #E7E3E3;
}

.selection-head {
  font-family: "Ubuntu", sans-serif;
  font-size: 2vw;
  font-weight: 400;
  line-height: 3vw;
  letter-spacing: 0em;
  text-align: left;
}

.selection-image {
  position: relative;
}

.selection-image p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2vw;
  font-weight: 400;
  line-height: 1.5vw;
  position: absolute;
  width: 20vw;
  top: 15%;
  left: 55%;
  text-align: left;
}

.selection-container {
  display: flex;
}

.selection-text-after-image {
  font-family: "Gothic A1", sans-serif;
  font-size: 1.2vw;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  width: 25vw;
  padding-bottom: 10%;
  padding-left: 2vw;
  align-self: flex-end; 
}

.selection-right {
  margin-left: auto; 
  padding-left: 5vw;
}

.selection-right p {
  font-family: "Gothic A1", sans-serif;
  font-size: 1.2vw;
  font-weight: 400;
  line-height: 1.5vw;
  text-align: left;
  width: 25vw;
}

.selection-suppliers {
  position: relative;
}

.button-supp {
  position: absolute;
  background: #00000033;
  padding: 1vw;
  width: 3vw;
  height: 3vw;
  border-radius: 100%;
  bottom: 2vw; /* Регулируйте в зависимости от вашего дизайна */
  right: 3vw; /* Регулируйте в зависимости от вашего дизайна */
  cursor: pointer;
}