.header-mobile {
    width: 100%;
    top: 0;
    background: #F6F4F4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 3vw;
    box-sizing: border-box;
    z-index: 1001;
}

.guarantees-section-mobile{
    padding-top: 16vw;
    padding-left: 4vw;
    padding-bottom: 5vw;
    background-color: #F6F4F4;
}

.guarantees-head-mobile{
    font-family: "Ubuntu", sans-serif;
    font-size: 8vw;
    font-weight: 400;
    line-height: 4vw;
    text-align: left;
}

.guarantees-text-container-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 88vw;
}

.guarantees-digit-mobile{
    font-family: "Ubuntu", sans-serif;
    font-size: 5vw;
    font-weight: 400;
    padding-right: 4vw;
    line-height: 5vw;
    letter-spacing: 0em;
    text-align: left;
}

.guarantees-text-mobile{
    font-family: "Gothic A1", sans-serif;
    font-size: 4vw;
    font-weight: 400;
    line-height: 4vw;
    letter-spacing: 0em;
    text-align: left;
    color: #0B0A09;
}